<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/comment.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/light.css}" />

    <style th:inline="text">
        .main.col {
            background: url([[@{/images/wave.svg}]]) no-repeat top center;
        }
    </style>

</head>

<body>

    <div th:replace="./fragments/loggedInComponents :: headerWithBookMark"></div>

    <main>

        <div class="container">
            <div class="row p-5">
                <div class="col main" th:object="${currentChan}">
                    <img th:src="@{/images/company.png}" class="rounded mx-auto company-logo" alt="...">
                    <p class="h1 mt-3" th:text="${currentChan.name}"></p>
                    <p class="condensed" th:text="${currentChan.description}">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Nemo quo laudantium ea possimus necessitatibus hic veritatis ab obcaecati vero
                        odio.
                    </p>
                </div>
            </div>
        </div>

        <div class="container ps-5 pe-5">
            <div class="row align-items-start">
                <div class="col-3" th:each="chan : ${subChans}">
                    <p><a th:href="@{'/channel/' +${chan.channel_id}}" th:text="${chan.name}"></a></p>
                </div>

                <div class="col">
                    <div class="rounded-border d-flex align-items-center">
                        <img th:src="@{/images/user.png}" class="rounded comment-side m-0" alt="...">

                        <form th:action="@{/create-post/__${currentChan.channel_id}__}" th:object="${newPost}"
                            method="post"  class="d-flex justify-content-between flex-grow-1 row" target="_blank">

                            <div class="col-11">
                                <input type="text" th:field="*{text}" class="form-control"
                                    placeholder="Post your experience or colmplaint at a company"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="col-1">
                                <button type="submit"
                                    class="post-btn btn align-middle send-post rounded-circle">
                                    <img th:src="@{/images/send.svg}" alt="">
                                </button>
                            </div>
                        </form>

                    </div>

                    <div class="posts" th:each="post: ${posts}">
                        <div class="col rounded-border">
                            <div class="d-flex user-handle align-items-center">
                                <img th:src="@{/images/user.png}" class="rounded comment-side" alt="...">
                                <p th:text="${post.creator.fullName}" class="mb-0 f2-6"></p>

                                <p class="card-text ms-auto">
                                    <small class="text-muted me-2">DD/MM/YY</small>
                                    <small class="text-muted">hr:min</small>
                                </p>
                            </div>
                            <p class="condensed mt-3 fs-6" th:text="${post.text}"></p>

                            <form th:action="@{/create-comment/__${post.id}__}"
                                method="post" target="_blank"
                                class="d-flex justify-content-between flex-grow-1 row border-top pt-3">

                                <div class="col-11">
                                    <input type="text" class="form-control"
                                        placeholder="comment this post" name="content"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="col-1">
                                    <button type="submit"
                                        class="post-btn btn align-middle send-post rounded-circle">
                                        <img th:src="@{/images/send.svg}" alt="">
                                    </button>
                                </div>
                            </form>

                        </div>

                        <div class="rounded-border col"th:each="comment : ${post.comments}">
                            <div class="d-flex user-handle align-items-center">
                                <img th:src="@{/images/user.png}" class="rounded comment-side" alt="...">
                                <p th:text="${comment.user.fullName}" class="mb-0 f2-6"></p>

                                <p class="card-text ms-auto">
                                    <small class="text-muted me-2">DD/MM/YY</small>
                                    <small class="text-muted">hr:min</small>
                                </p>
                            </div>
                            <p class="condensed mt-3 fs-6" th:text="${comment.content}"></p>
                        </div>


                    </div>

                </div>
            </div>
        </div>

    </main>

    <div class="foot" th:insert="/fragments/components :: footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>