<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

  <div th:replace="./fragments/loggedInComponents :: headerWithOutBookMark"></div>

    <main id="search-main">

      <div
        th:each="chan : ${chans}"
        class="search-result d-flex justify-content-evenly">

        <div class="col card mb-3" style="max-width: 540px;">
          <div class="row g-0">

            <div class="col-md-4">
              <img th:src="@{/images/company.png}" class="img-fluid rounded-start p-3" alt="...">
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" th:text="${chan.name}">Company Name</h5>
                <p class="card-text" th:text="${chan.description}">Comapny Description</p>
                <a
                    th:href="@{/channel/__${chan.channel_id}__}"
                    class="btn btn-primary border-bottom">Select Company</a>

                <div class="muted-text mt-2">
                  <p class="mb-0 card-text">
                      <small class="text-muted" th:text="${chan.email}">Email</small>
                  </p>

                  <p class="card-text">
                      <small class="text-muted" th:text="${chan.address}">Address</small>
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>

        <div
            th:if="${matchResult} == 0">

            <img th:src="@{/images/empty.svg}" class="mx-auto d-block no-result "/>
            <h1 class="text-center"> No Channel has been created yet!</h1>

        </div>

    </main>

  <footer class="foot fixed-bottom" th:insert="/fragments/components :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>