<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid nav-footer-items">
            <a th:href="@{/}" class="text-logo">JAM</a>
            <div class="btn-group">
                <a th:href="@{/register}" class="btn btn-primary header-btn register">Register</a>
                <a th:href="@{/login#login_widget}" class="btn btn-primary header-btn login">Login</a>
            </div>
        </div>
    </nav>
</header>

<div class="navigation" th:fragment="navigation">
    <div class="nav-container">

        <div class="nav-content">
            <a th:href="@{/profile}">
                <ion-icon name="person-outline" class="me-3"></ion-icon>
                Profile Information
            </a>
        </div>


        <div class="nav-content">
            <a th:href="@{/editProfile}">
                <ion-icon name="settings-outline" class="me-3"></ion-icon>
                Edit Profile
            </a>
        </div>


        <div class="nav-content">
            <a th:if="${user.userRole.name() == 'ADMIN'}" th:href="@{/addChannel}">
                <ion-icon name="bag-outline" class="me-3"></ion-icon>
                Add a Company
            </a>
        </div>


        <div class="nav-content">
            <a th:if="${user.userRole.name() == 'ADMIN'}"th:href="@{/editChannel}">
                <ion-icon name="information-circle-outline" class="me-3"> </ion-icon>
                Edit Company Settings
            </a>
        </div>


    </div>
</div>

<footer th:fragment="footer">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid  nav-footer-items">
            <a th:href="@{/}" class="text-logo ps-4">JAM</a>

            <div>
                Copyright&copy; jam.com
            </div>
        </div>

    </nav>

</footer>

</body>
</html>