<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>


<header th:fragment="headerWithBookMark">

    <nav class="navbar navbar-expand-lg">

      <div class="container-fluid nav-footer-items">
        <p class="navbar-brand fw-bold fs-4 m-0">JAM</p>
        <form class="d-flex" method="get" th:action="@{/search}">
          <input class="form-control me-2" type="search" name="channelName" placeholder="Search a company" aria-label="Search">
          <button class="btn border border-primary text-dark search-btn" type="submit">
            <img th:src="@{/images/magnifier.svg}">
          </button>
        </form>

        <div class="btn-group">
            <form method="post" th:action="@{/bookmark/__${currentChan.channel_id}__}">
                <button type="submit" class="btn me-2">
                    <img th:src="@{/images/new_bookmark.svg}" /> BookMark
                </button>
            </form>

          <div class="dropdown">
            <button class="btn dropdown-toggle bookmark-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img th:src="@{/images/user.png}" class="rounded-start small_avatar " alt="...">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" th:href="@{/profile}">profile</a></li>
                <li><a class="dropdown-item" th:href="@{/logout}">logout</a></li>
              <li><hr class="dropdown-divider"></li>

              <li th:each="booksMarks: ${user.bookmarks}">
                  <a class="dropdown-item"
                     th:href="@{/channel/__${booksMarks.channel_id}__}"
                     th:text="${booksMarks.name}"
                  >
                      Something else here
                  </a>
              </li>

            </ul>
          </div>
  
        </div>
      </div>
    </nav>
</header>

<header th:fragment="headerWithOutBookMark">
    <nav class="navbar navbar-expand-lg">

        <div class="container-fluid nav-footer-items">
            <p class="navbar-brand fw-bold fs-4 m-0">JAM</p>
            <form class="d-flex" method="get" th:action="@{/search}">
                <input class="form-control me-2" type="search" name="channelName" placeholder="Search a company" aria-label="Search">
                <button class="btn border border-primary text-dark search-btn" type="submit">
                    <img th:src="@{/images/magnifier.svg}">
                </button>
            </form>

            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn dropdown-toggle bookmark-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/images/user.png}" class="rounded-start small_avatar " alt="...">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" th:href="@{/profile}">profile</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">logout</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li th:each="booksMarks: ${user.bookmarks}">
                            <a class="dropdown-item"
                               th:href="@{/channel/__${booksMarks.channel_id}__}"
                               th:text="${booksMarks.name}"
                            >
                                Something else here
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </nav>
</header>


<footer th:fragment="footer">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid  nav-footer-items">
            <p class="navbar-brand fw-bold fs-4 m-0 justify-self-flex-start ps-5">JAM</p>

            <div>
                <p class="copyright justify-self-flex-end align-self-center m-0 pe-5">&copy2022 JAM All rights reserved</p>
            </div>
        </div>

    </nav>
</footer>


</body>
</html>