body {
    background-color: #e7ecef;
}

header {
    background-color: #32292f;
    color: white;
    margin-bottom: 1.5em;
}

a.btn, button.btn:not(#dropdownMenuButton1) {
    border: 1px solid #705d56;
    border-radius: 0.2em;
    color: #000;
    background-color: rgba(255, 255, 255, .57);
}



footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0275d8;
    color: white;
    margin-top: auto;
}

main {
    margin-bottom: 3em;
    padding: 0 5em;
}

.no-result{
    max-height: 60vh;
}

.small_avatar{
    max-width: 32px;
}
li.nav-item {
    display: flex;
    align-items: center;
}

a.footer-link {
    text-decoration: none;
    padding: 0 2em;
    color: rgba(255, 255, 255, .5);
    max-width: fit-content;
}

a.current-page {
    color: white;
}

a.footer-link:hover,
a.footer-link:active {
    color: white;
}

.header-btn:focus,
.header-btn:hover {
    background-color: #0275d8 !important;
}

a.post-btn {
    padding-left: 1em;
    align-self: center;
}

header nav.navbar {
    padding: 1em 5em;
}

div.nav-header-items {
    display: flex;
    justify-content: space-around;
    padding: 0 10em;
}

div.btn-group a {
    padding: .5em 1.5em;
}


/* FOOTER */

div.nav-footer-items {
    display: flex;
    justify-content: space-around;
    padding: 0 0;
}

footer nav.navbar {
    padding: 1em 1.5em;
}

.letter-A {
    color: #2e8aba;
}
