header {
    background-color: #0275d8;
    color: white;
    margin-bottom: 3em;
}

.send-button{
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
}
.inline-form{
    display: inline;
}

button.trash-btn{
    border-width: 0;
    padding: 0;
    margin-left: auto;
}
body {
    position: relative;
    min-height: 100vh
}

header a.login {
    margin-left: 5em !important;
}

a.text-logo {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: x-large;
}

a.btn, button.btn:not(#dropdownMenuButton1) {
    border: 1px solid white;
    border-radius: 0.2em;
    color: white;
    background-color: #0275d8;
}

a.header-btn:hover, a.header-btn:focus {
    background-color: white !important;
    color: #0275d8 !important;
}

footer {
    position: relative;
    width: 100%;
    background-color: #0275d8;
    color: white;
    margin-top: auto;
}

div.footer-position {
    position: absolute;
    bottom: 0;
    left: 0;
}

main {
    margin-bottom: 3em;
    padding: 0 5em;
}

.no-result{
    max-height: 60vh;
}

.small_avatar{
    max-width: 32px;
}
li.nav-item {
    display: flex;
    align-items: center;
}

a.footer-link {
    text-decoration: none;
    padding: 0 2em;
    color: rgba(255, 255, 255, .75);
    max-width: fit-content;
}

a.current-page {
    color: white;
}

a.footer-link:hover,
a.footer-link:active {
    color: white;
}

.header-btn:focus,
.header-btn:hover {
    background-color: #0275d8 !important;
}

a.post-btn {
    padding-left: 1em;
    align-self: center;
}

header nav.navbar {
    padding: 1em 5em;
}

div.nav-header-items {
    display: flex;
    justify-content: space-around;
    padding: 0 10em;
}

div.btn-group a {
    padding: .5em 1.5em;
}


/* FOOTER */

div.nav-footer-items {
    display: flex;
    justify-content: space-around;
    padding: 0 0;
}

footer nav.navbar {
    padding: 1em 1.5em;
}

p.copy-txt {
    color: rgba(255, 255, 255, .5);
}

button.search-btn {
    border: none !important;
}

input.search-bar {
    padding-right: 22em !important;
    margin-left: 7em !important;
}

div.nav-content a:focus, div.nav-content a:hover {
    color: black !important;
}

div.profile-btns {
    display: flex;
    justify-content: flex-end;
}

button.profile-btns {
    width: 10em;
    justify-self: flex-end;

}
