.login-form {
    margin: 1em 0;
}
form input {
    margin-bottom: 1em;
}

a.login-btn {
    padding: .5em 2em;
    
}

div.row {
    margin-bottom: 2.5em;
}

div.login-right {
    background-color: #0275d8;
    color: white;
    text-align: center;
    padding: 4em 3em;
}

div.last-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.last-action a {
    max-width: fit-content;
}

a.text-link {
    text-decoration: none;
    color: #0275d8;
}

/* a.text-link:visited {
    color: rgb(194, 31, 194);
    border-bottom: .01em solid rgb(194, 31, 194);
}
 */

a.text-link:hover, a.text-link:focus {
    border-bottom: .01em solid #0275d8;
}




