
.logo{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: white;
}
.search-box{
    background: #1E263D;
    border-radius: 30px;
    border: 1px solid #25314D;
    width: 436px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 25px;
}
.search-box p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    
}
.search-input{
    height: 41px;
    width: 436px;
    border-radius: 30px;
    background: #1E263D;
    border: none;
    z-index: 33;
    color: white;
    text-decoration: none;
    outline: none;
    padding-left: 5px;
}
.bookmark{
    background: #1E263D;
    border-radius: 6px;
    border: 1px solid #25314D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 41px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-right: -320px;
}
.bookmark ion-icon{
    margin-right: 12px;
}
.profile-img{
    width: 35px;
    height: 35px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    background: url("vadim-bogulov-rdHrrFA1KKg-unsplash.jpg");
    margin-right: 30px;

}

.profile-img ion-icon{
    margin-top: 26px;
    margin-left: 35px;
}
/* .profile-img .img{
    width: 35px;
    height: 35px;
} */

.inline-info{
    display: flex;
    border-bottom: 1px solid #c0c0c0;
}
.navigation{
    background: #078DF9;
    flex:  0 0 30%;
    display: flex;
    padding-top: 3em;
    justify-content: center;

}

.nav-container a{
    border-bottom: 1px solid white;
    width: 100%;
    padding-bottom: 15px;
}
.nav-content a{
    
    display: flex;
    flex-direction: row;
    
}
.nav-content + .nav-content {
    margin-top: 1.5em;
}
.nav-content p{
    margin-left: 23px;
}
.nav-content ion-icon{
    font-size: 20px;
    font-weight: 300;
}

.info-container{
    flex: 1;
}
.info-container .info-box p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
}

.info-content p:first-child{
    margin-left: 10px;
    padding-bottom: 10px;
    flex: 0 0 50%;
    
}
.info-content p:last-child{
    flex: 0 0 50%;
}

/* .info-content span{
    text-align: left;
} */
.light-color{
    color: #535353;
    
}
.info-container .prof-info p{
    font-size: 36px;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    flex: 1;
}

.information{
        flex: 1;
}

#left{
    text-align: left;
}

.nav-container a{
    color: #fff;
    text-decoration: none;
}
.foot-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    width: 80%;
}

.bottom-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bottom-text .menu{
    margin-right: 50px;
    
}
.bottom-text .menu-1{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
}
.copyright{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: white;
    opacity: 0.8;
}