div.row {
    justify-content: center;
}
div.register-left {
    max-width: 35%;
    max-height: 80%;
    padding: 1.5em 2em 1em;
    border: .1em solid #0275d8;
    border-radius: 3em 0 0;
    margin-right: 2em;
}

div.register-right {
    max-width: 55%;
    text-align: center;
    gap: 1.5em;
}

div.register-right img {
    margin-bottom: 1em;
}

form input {
    margin-bottom: 1em;
}

div.last-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.last-action a {
    max-width: fit-content;
}

a.text-link {
    text-decoration: none;
    color: #0275d8;
}

/* a.text-link:visited {
    color: rgb(194, 31, 194);
    border-bottom: .01em solid rgb(194, 31, 194);
}
 */

a.text-link:hover, a.text-link:focus {
    border-bottom: .01em solid #0275d8;
}

