<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid nav-header-items">
          <p class="navbar-brand fw-bold fs-4 m-0">JAM</p>
          <div class="btn-group">
            <a th:href="@{/register}" class="btn btn-primary left-btn header-btn">Register</a>
            <a href="#login_widget" class="btn btn-primary right-btn header-btn">Login</a>
          </div>
        </div>
    </nav>
  </header>

    <main>

        <div class="row container">
            <div class="col">
                <h1>Lorem ipsum dolor sit amet</h1>
                <p class="condensed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sapiente atque beatae id totam laudantium optio explicabo esse veritatis libero, in eaque ad, laboriosam debitis iusto reiciendis minus. Molestiae fuga non quibusdam nulla? Soluta, consequatur. Recusandae consectetur aut incidunt, eum officiis ex modi impedit nihil. Quidem ea alias enim voluptatem?</p>
                <a href="#" class="btn btn-primary">Join the platform</a>
            </div>

            <div class="col">
                <img th:src="@{/images/homepage-img.svg}" alt="">
            </div>
        </div>

        <div class="row container">
            <div class="col">
                <h1 id="#login_widget">Login</h1>
                <form class="login-form" method="post" th:action="@{/login}">
                    <label for="loginEmailInput" class="form-label">Email address</label>
                    <input type="email" class="form-control"  name="username" id="loginEmailInput" placeholder="email@adress.com">

                    <label for="loginPasswordInput" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="loginPasswordInput">

                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>

                <div class="last-action">
                    
                    <p class="center">Don't have an account yet?<a th:href="@{/register}"/>Create one.</a> </p>
                </div>
            </div>

            <div class="col login-right">
                <h2>Lorem ipsum dolor sit.</h2>
                <p class="condensed">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat perspiciatis qui dicta explicabo distinctio dolore possimus, molestiae animi architecto accusantium officia consequuntur voluptates, adipisci id reprehenderit deleniti quo. Porro eum maiores, cupiditate ab cumque nesciunt cum vitae molestias quidem, quia voluptatem voluptatum ut neque quo nostrum excepturi incidunt tempore labore!</p>
            </div>
        </div>

    </main>

    <footer>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid  nav-footer-items">
              <p class="navbar-brand fw-bold fs-4 m-0 justify-self-flex-start ps-5">JAM</p>
              <ul class="nav">
                <li class="nav-item">
                  <a class="footer-link  current-page">Home</a>
                </li>
                <li class="nav-item">
                  <a class="footer-link" href="../templates/registration.html">Register</a>
                </li>
                <li class="nav-item">
                  <a class="footer-link"  href="../templates/comment.html">Comments</a>
                </li>
                <li class="nav-item">
                  <a class="footer-link" href="../templates/search.html">Search</a>
                </li>
              </ul>
              <div>
                <p class="copyright justify-self-flex-end align-self-center m-0 pe-5">&copy2022 JAM All rights reserved</p>
              </div>
            </div>

        </nav>
                
    </footer>
    
</body>
</html>