<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Jam</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/registration.css}" rel="stylesheet" />
</head>

<body>

    <div class="container">
        <div th:insert="fragments/components :: header"></div>
    </div>

    <div class="row" id="body_container" style="background: #1D1D29 ;">
        <div class="col text-white p-xl-5 m-5" id="corner" style="background: #4A4A54 ;">
            <div class="row col-md-6 ">
                <div class="panel-body">
                    <form method="POST" th:object="${newUser}">
                        <p>Register blah</p>
                        <div class="form-group">
                            <label for="fullName">Full name</label>
                            <input type="text" class="form-control" id="fName" th:field="*{fullName}" required>
                            <div 
                                th:if="${#fields.hasErrors('fullName')}" 
                                th:errors="*{fullName}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control"  th:field="*{address}" required/>
                            <div 
                                th:if="${#fields.hasErrors('address')}" 
                                th:errors="*{address}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" th:field="*{email}" required>
                            <div 
                                th:if="${#fields.hasErrors('email')}" 
                                th:errors="*{email}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control"  th:field="*{password}" required>
                            <div 
                                th:if="${#fields.hasErrors('password')}" 
                                th:errors="*{password}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cPassword">Confirm Password</label>
                            <input type="password" class="form-control"  th:field="*{cPassword}" required>
                            <div 
                                th:if="${#fields.hasErrors('cpassword')}" 
                                th:errors="*{cpassword}">
                            </div>
                        </div>
                        <div class="text-center p-2">
                            <input class="btn btn-primary rounded-pill " value="register" type="submit">
                        </div>

                        <div class="text-center p-1">
                            <input class="btn " value="login" type="submit">
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <div class="col text-white m-5 p-2">
            <h1>#Lorem ipsum dolor sit amet consectetur adipisicing elit. qus!</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab pariatur in saepe nesciunt? Vel esse facere
                voluptates laborum illum? Impedit, sequi sed. Nulla ipsam voluptatem nam at deleniti, nostrum
                consectetur.</p>
            <img th:src="@{images/registration_hero.svg}" alt="sample image">

        </div>

    </div>

    <div th:insert="fragments/components :: footer"></div>
    <style>
        #corner {
            border-top-left-radius: 15%;
        }
    </style>



    <script th:src=" @{/js/bootstrap.bundle.min.js} "></script>
</body>

</html>
